* {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        "a a"
        "b c";
}

header { 
    grid-area: a;
    background-color: black;
    color: white;
}

main {
    grid-area: b;
}

aside {
    grid-area: c;
}

.pad1 { padding: 1em; }

ul {
    list-style: none;
}

ul > li {
    padding: 2em;
}